{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "cmake"
     "gnu-sed"
     "llvm"
     "ninja"
     "ripgrep"
     "tmux" -}}
{{ $casks := list
     "1password"
     "alfred"
     "discord"
     "firefox"
     "font-jetbrains-mono"
     "ghostty@tip"
     "hammerspoon"
     "kitty"
     "nextcloud"
     "spotify" -}}

brew bundle --file=- <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}
