[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/johnmiked15/fonts.git
[submodule "home/.config/base16-shell"]
	path = home/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "home/.zsh/zgen"]
	path = home/.zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "home/.config/nvim/bundle/vim-pathogen"]
	path = home/.config/nvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.config/nvim/bundle/vim-airline"]
	path = home/.config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "home/.config/nvim/bundle/vim-airline-themes"]
	path = home/.config/nvim/bundle/vim-airline-themes
	url = http://github.com/vim-airline/vim-airline-themes
[submodule "home/.config/nvim/bundle/nerdcommenter"]
	path = home/.config/nvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.config/nvim/bundle/nerdtree"]
	path = home/.config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.config/nvim/bundle/vim-rtags"]
	path = home/.config/nvim/bundle/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "home/.config/nvim/bundle/vim-gitgutter"]
	path = home/.config/nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/.config/nvim/bundle/vim-polyglot"]
	path = home/.config/nvim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "home/.config/nvim/bundle/vim-cpp-enhanced-highlight"]
	path = home/.config/nvim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "home/.config/nvim/bundle/nerdtree-git-plugin"]
	path = home/.config/nvim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "home/.config/nvim/bundle/vim-fugitive"]
	path = home/.config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/.config/nvim/bundle/fzf.vim"]
	path = home/.config/nvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/.config/nvim/bundle/YouCompleteMe"]
	path = home/.config/nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "home/.config/nvim/bundle/tender"]
	path = home/.config/nvim/bundle/tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "home/.config/nvim/bundle/onedark"]
	path = home/.config/nvim/bundle/onedark
	url = https://github.com/joshdick/onedark.vim.git
