[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "home/.config/base16-shell"]
	path = home/.config/base16-shell
	url = https://github.com/fnune/base16-shell.git
[submodule "home/.zsh/zgen"]
	path = home/.zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
