[user]
	name = John Drouhard
	email = john@jmdtech.org
[color]
	ui = true
[color "decorate"]
    head = cyan reverse
    branch = green reverse
    tag = yellow reverse
[http]
	postBuffer = 524288000
[diff]
	tool = vimdiff
	guitool = meld
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	l = log --graph --all --pretty=format:'%C(auto)%h%d %s %C(green)(%ar)%Creset %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	addnw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' - && git status
[core]
	autocrlf = false
