-- vim: ft=lua

local function chezmoi_files()
  if require('globals').fzflua then
    require('chezmoi.pick').fzf()
  else
    require('chezmoi.pick').snacks()
  end
end

local M = {
  'xvzc/chezmoi.nvim',
  cmd = { 'ChezmoiEdit', 'ChezmoiList' },
  keys = {
    { '<leader>ev', '<cmd>e {{ .chezmoi.sourceDir }}/dot_config/nvim/init.lua<CR>' },
    { '<leader>ep', '<cmd>e {{ .chezmoi.sourceDir }}/dot_config/nvim/lua/plugins/init.lua<CR>' },
    { '<leader>ec', chezmoi_files },
  },
  dependencies = 'nvim-lua/plenary.nvim',
  pick = chezmoi_files,
}

function M.init()
  -- run chezmoi edit on file enter
  vim.api.nvim_create_autocmd({ 'BufRead', 'BufNewFile' }, {
    pattern = '{{ .chezmoi.sourceDir }}/*',
    callback = function(ev)
      vim.schedule(function()
        require('chezmoi.commands.__edit').watch(ev.buf)
      end)
    end,
  })
end

return M
