{
	"dividers": {
		"left": {
			"hard": "  ",
			"soft": "▏ "
		},
		"right": {
			"hard": "  ",
			"soft": " ▕ "
		}
	},
	"segment_data": {
		"powerline.segments.common.sys.system_load": {
			"args": {
				"format": "{avg:.2f}"
			}
		}
	},
	"segments": {
		"right": [
			{
				"function": "powerline.segments.common.sys.uptime",
				"priority": 50
			},
			{
				"function": "powerline.segments.common.net.network_load",
				"priority": 50
			},
			{
				"function": "powerline.segments.common.sys.system_load",
				"priority": 50
			},
			{
				"function": "powerline_owmweather.weather",
				"priority": 50,
				"args": {
					"openweathermap_api_key": {{ joinPath .chezmoi.sourceDir "owm_api_key.txt.age" | include | decrypt | quote }},
					"show": "condition,temp",
					"units": "F",
					"location_query": "Olathe, US"
				}
			},
			{
				"function": "powerline.segments.common.time.date"
			},
			{
				"function": "powerline.segments.common.time.date",
				"name": "time",
				"args": {
					"format": "%H:%M",
					"istime": true
				}
			},
			{
				"function": "powerline.segments.common.net.hostname"
			}
		]
	}
}
