# vim:ft=muttrc

source $HOME/.mutt/mutt-base16-dark.muttrc

# imap settings
set mail_check_stats             # check for mailbox counts periodically and at startup
set timeout = 15                 # check for mail every 15 seconds
set move = no                    # leave everything server-side
bind index "^" imap-fetch-mail   # use caret to fetch new mail ($ also works to refresh your inbox)

# misc settings
set mime_forward
set mime_forward_rest=yes

# display settings
set sort = threads
set sort_browser = date
set sort_aux = reverse-last-date-received
set header_cache = "~/.mutt/cache/headers"
set message_cachedir = "~/.mutt/cache/bodies"

set date_format = "%a %Y-%m-%d %H:%M:%S"
set index_format = "%4C %Z %D %-15.15L (%?l?%4l&%4c?) %s"

set pager_index_lines = 20

# show HTML emails as text
auto_view text/html
alternative_order text/html text/plain text/enriched

# text formatting
set text_flowed=yes
set edit_headers=yes

ignore *
unignore from: date subject to cc
unignore x-mailer x-url user-agent
hdr_order date from to cc subject

# sidebar
set sidebar_width=35
set sidebar_visible=yes
set sidebar_folder_indent=yes
set sidebar_short_path=yes
set sidebar_format='%B%?F? [%F]?%* %?N?%N/?%S'
set sidebar_sort_method = alpha

bind index,pager \Ch sidebar-prev
bind index,pager \Cl sidebar-next
bind index,pager \Co sidebar-open

macro index <F2> '<enter-command>toggle sidebar_visible<enter><refresh>'
macro pager <F2> '<enter-command>toggle sidebar_visible<enter><redraw-screen>'

# vim stuff
set editor = "nvim '+/^$' -c 'noh'"

bind index,pager / search
bind index,pager ? search-reverse
bind index,pager n search-next
#bind index,pager N search-opposite

bind index,pager \Cb half-up
bind index,pager \Cf half-down

#bind index,pager l collapse-thread
#bind index,pager z collapse-all

bind index,pager r reply
bind index,pager a group-reply
bind index,pager L list-reply

bind index,pager <F1> help

bind index j next-entry
bind index k previous-entry
bind index J next-thread
bind index K previous-thread
bind index gg first-entry
bind index G last-entry

bind pager j next-line
bind pager k previous-line
bind pager <down> next-line
bind pager <up> previous-line
bind pager gg top
bind pager G bottom
